{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'proyectos/css/crear_proyecto_styles.css' %}">
{% endblock %}

{% block content %}
<div class="proyecto-form-container">

    <form method="post" enctype="multipart/form-data" class="proyecto-form">
        {% csrf_token %}

        <div class="proyecto-form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
        </div>

        <div class="proyecto-form-group">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion"></textarea>
        </div>

        <div class="proyecto-form-group">
            <label for="logo">Logo del proyecto:</label>
            <input type="file" name="logo" id="logo" accept="image/*">
        </div>

        <div class="proyecto-form-group">
            <label for="lider">Líder:</label>
            <select name="lider" id="lider" required>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">{{ usuario.nombre }} ({{ usuario.email }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="proyecto-form-group">
            <label for="participantes">Participantes:</label>
           <select name="participantes" multiple>
                {% for alumno in usuarios %}
                    <option value="{{ alumno.id }}" {% if alumno.id in participantes_ids %}selected{% endif %}>
                        {{ alumno.nombre }}
                    </option>
                {% endfor %}
            </select>
            <small>Puedes seleccionar varios usuarios con Ctrl o Shift.</small>
        </div>

        <div class="proyecto-form-acciones">
            <button type="submit" class="proyecto-form-btn-crear">Crear</button>
            <a href="{% url 'proyectos:lista_proyectos' %}" class="proyecto-form-btn-cancelar btn-secondary" style="margin-left:10px;">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
