{% load static %}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GRCU Manager{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'accounts/img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/header_styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/nav_bar_styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer_styles.css' %}">

    {% block extra_css %}
    {% endblock %}

</head>
<body>
    {% include 'core/componentes/header.html' %}{% include "core/componentes/nav-var.html" %}
    

    <!-- Contenido principal -->
    {% block content %}
    {% endblock %}

    {% include "core/componentes/footer.html" %}
</body>
</html>