{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container py-4">
    <h3>{% if proyecto %}Agregar Requerimiento al proyecto {{ proyecto.nombre }}{% else %}Agregar Requerimiento{% endif %}</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Crear</button>
        <a href="{% if proyecto %}{% url 'requerimientos:requerimiento_list' proyecto.id %}{% else %}{% url 'requerimientos:requerimiento_list' %}{% endif %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
