{% load static %}

<footer class="footer">
  <div class="container d-flex justify-content-between align-items-center">

      <!-- Izquierda -->
      <div>
        2025 - <img src="{% static 'accounts/img/logo_4bytes.jpg' %}" alt="Logo" style="height:20px;">
        - Todos los derechos reservados
      </div>

      <!-- Centro -->
      <div class="mx-auto text-center">
        Universidad Nacional de la Patagonia Austral - UARG
      </div>

      <!-- Derecha -->
      <div class="text-end">
        Powered by <strong>UARGFlow BS</strong>
      </div>

  </div>
</footer>
