{% load static %}

<nav class="custom-navbar">
    <ul class="custom-navbar-menu">

        {% if user.is_authenticated and not 'login' in request.path %}
            
            <!-- Enlaces principales -->
            <li>
                <a href="{% url 'dashboards:admin_dashboard' %}">
                    <i class="bi bi-house"></i> Inicio
                </a>
            </li>

            <li>
                <a href="{% url 'usuarios:lista' %}">
                    <i class="bi bi-person"></i> Usuarios
                </a>
            </li>

            <li>
                <a href="{% url 'proyectos:lista_proyectos' %}">
                    <i class="bi bi-folder"></i> Proyectos
                </a>
            </li>

            {% if user.rol == 'admin' %}
            <li>
                <a href="{% url 'roles_lista' %}">
                    <i class="bi bi-graph-up"></i> Roles
                </a>
            </li>

            <li>
                <a href="{% url 'permisos_lista' %}">
                    <i class="bi bi-lock"></i> Permisos
                </a>
            </li>
            {% endif %}

        {% endif %}
    </ul>
</nav>
